html {
    background-image: url("https://fox17.com/resources/media/fcd7a380-eab6-4467-891e-be2ea75fe52b-large3x4_ChuckNorris.jpg?1560772299261")
    background-size: cover;
    background-repeat:no-repeat
}
