html {
    background-image: url("https://images.wallpaperscraft.com/image/flag_america_usa_132681_3840x2400.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel{
    overflow:hidden;
  }
.m-padding a{
    margin: 5px;
    background: #ccc;
    display: block;
    border-radius: 5px;
    overflow:hidden;
  }
  #Welcome {
      background-color: rgba(0, 0, 255, 0.6);
      color: whitesmoke;
  }
  #Int-Disp {
    background-color: rgba(0, 0, 255, 0.6);
    color: whitesmoke;
}
#instructions{
    background-color:rgba(245, 245, 245, 0.6);
}
#howTo{
    color: blue;
}
#HowtoContent{
    color: blue;
}
  